@import "tailwindcss";

/* ===== SCREEN ===== */
#print-area {
  display: block;
}

/* ===== PRINT ===== */
@media print {
  @page {
    size: 58mm auto;
    margin: 0;
  }

  html, body {
    height: auto;
    margin: 0;
  }

  body * {
    visibility: hidden;
  }

  #print-area, #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 58mm;

    page-break-inside: avoid;
    break-inside: avoid;
  }
}